{% extends "base.html" %}
{% block content %}
<!-- FreeBoard-->
<header class="masthead ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="paenl-title">내 자기소개서 목록</h1>
                    </div>
                    <br>
                    <p>
                    <div class="panel-body"></div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th nowrap>번호</th>
                            <th nowrap>제목</th>
                            <th nowrap>작성자</th>
                            <th nowrap>작성일</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for post in posts %}
                        <tr onclick = "location.href = '/my_self_intro/{{post.id}}'">
                            <td>{{post.id}}</td>
                            <td>{{post.title}}</td>
                            <td>{{post.name}}</td>
                            <td nowrap>{{post.registered_date}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </p>
                    <br><br>
                    <div class="row">
                        <div class="col">
                            <ul class="pagination justify-content-center">
                                {% if posts.has_previous %}
                                <li class = "page-item"><a class = "page-link" href = "?p={{posts.previous_page_number}}">이전</a></li>
                                {% else %}
                                <li class = "page-item disabled"><a class = "page-link disabled" href = "#">이전</a></li>
                                {% endif %}
                                <li class = "page-item active"><a class = "page-link">{{posts.number}}/{{posts.paginator.num_pages}}</a></li>
                                {% if posts.has_next %}
                                <li class = "page-item"><a class = "page-link" href = "?p={{posts.next_page_number}}">다음</a></li>
                                {% else %}
                                <li class = "page-item disabled"><a class = "page-link disabled" href = "#">다음</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock content %}