{% extends "base.html" %}
{% block content %}
 <div class="masthead ">
     <div class="container">
         <div class="row">
             <div class="col-md-12 col-xs-12 mx-auto">
                 <h1>내 정보</h1>
                 <br>
                 <table class="table">
                     <thead class="thead-dark">
                     <tr>
                         <th scope="col">기본 정보</th>
                         <th></th>
                         <th></th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr>
                         <th scope="row">이름</th>
                         <td>{{username}}</td>
                         <td></td>
                     </tr>
                     <tr>
                         <th scope="row">이메일</th>
                         <td>{{useremail}}</td>
                         <td></td>
                     </tr>
                     </tbody>
                 </table>
             </div>
         </div>
     </div>
 </div>
{% endblock content %}
