{% extends "app/base_my.html" %}

{% block content %}
            <br>
               <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-xs-8">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="paenl-title">
                                        &nbsp;<span class="fas fa-edit"></span>
                                        &nbsp;<font size="4">글쓰기</font>
                                    </h3>
                                </div>
                                <br>
                                <div class="panel-body">
                                    <tbody>
                                    <form action="" method="POST" encType="multiplart/form-data">
                                        {% csrf_token %}
                                        <tr>
                                            <th>제목</th>
                                            <td><input type="text" placeholder="제목을 입력하세요. " name="title" class="form-control"/></td>
                                        </tr>
                                        <br>
                                        <tr>
                                            <th>내용</th>
                                            <td><textarea cols="10" rows='10' placeholder="내용을 입력하세요. " name="content" class="form-control"></textarea></td>
                                        </tr>
                                        <br>
                                        <tr>
                                            <td colspan="2">
                                                <button type = "submit" class="btn btn-outline-dark" style="float: right;" onclick="javascript:location.href='/freeboard'" class="pull-right"/><i class="fas fa-pen"></i>등록</button>
                                                <button type = "button" class = "btn btn-primary" onclick = "location.href = '/freeboard'">돌아가기</button>
                                                <button type = "button" class = "btn btn-primary" onclick="javascript:location.href='/freeboard/writing'">Reset</button>
                                                <!-- <a class="btn btn-default" onclick="sendData()"> 등록 </a>
                                                <a class="btn btn-default" type="reset"> reset </a>
                                                <a class="btn btn-default" onclick="javascript:location.href='list.jsp'">글 목록으로...</a> -->
                                            </td>
                                        </tr>
                                    </form>
                                    </tbody>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>  
{% endblock content %}
