{% extends "app/base_my.html" %}

{% block content %}
                <br>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-xs-8">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="paenl-title">
                                        &nbsp;<span class="fas fa-edit"></span>
                                        &nbsp;<font size="4">자유게시판</font>
                                    </h3>
                                </div>
                                <p>
                                <div class="panel-body"></div>
                                <div class = "row mt-5">
                                    <div class = "col-12">
                                        <div class = "form-group">
                                            <label for = "title">제목</label>
                                            <input style="background-color: #FFFFFF;" type = "text" class = "form-control" id = "title" value = "{{post.title}}" readonly>
                                            <label for = "writer">작성자</label>
                                            <input style="background-color: #FFFFFF;" type = "text" class = "form-control" id = "writer" value = "{{post.writer}}" readonly>
                                            <label for = "contents">내용</label>
                                            <textarea style="background-color: #FFFFFF;" class ="form-control" readonly>{{post.contents}}</textarea>
                                        </div>

                                    </div>
                                </div>
                                </p>
                                <br>
                                <button type = "button" class = "btn btn-primary" onclick = "location.href = '/freeboard'">돌아가기</button>
                                <a class="btn btn-outline-dark" style="float: right;" href="/freeboard/writing"><i class="fas fa-pen"></i>&nbsp;글쓰기</a>
                                <a class="btn btn-outline-dark" style="float: right;" href="/freeboard/delete/{{post.id}}"><i class="fas fa-pen"></i>&nbsp;삭제</a>
                                <a class="btn btn-outline-dark" style="float: right;" href="/freeboard/edit/{{post.id}}"><i class="fas fa-pen"></i>&nbsp;수정</a>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock content %}