{% extends "app/base_my.html" %}
{% load static %}
{% block content %}
                <br>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="paenl-title">
                                        &nbsp;<span class="fas fa-users"></span>
                                        &nbsp;<font size="4">개발자 소개</font>
                                    </h3>
                                </div>
                                <br>
                                <p>
                                <div class="panel-body">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="{% static 'images/sihun.jpg' %}" alt="개발자 이미지">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">&nbsp;조시훈</h4>
                                                &nbsp;&nbsp;Deep Square의 팀장입니다.
                                        </div>
                                    </div>
                                </div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>개발자명</th>
                                            <th>생년월일</th>
                                            <th>학력</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>조시훈</td>
                                            <td>1997-08-23</td>
                                            <td>서경대학교 컴퓨터공학과 재학</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                <div class="panel-body">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="{% static 'images/dongmin.jpg' %}" alt="개발자 이미지">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">&nbsp;조동민</h4>
                                                &nbsp;&nbsp;Deep Square의 팀원입니다.
                                        </div>
                                    </div>
                                </div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>개발자명</th>
                                            <th>생년월일</th>
                                            <th>학력</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>조동민</td>
                                            <td>1996-11-05</td>
                                            <td>서경대학교 컴퓨터공학과 재학</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                <div class="panel-body">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="{% static 'images/sungchan.jpg' %}" alt="개발자 이미지">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">&nbsp;이성찬</h4>
                                                &nbsp;&nbsp;Deep Square의 팀원입니다.
                                        </div>
                                    </div>
                                </div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>개발자명</th>
                                            <th>생년월일</th>
                                            <th>학력</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>이성찬</td>
                                            <td>1996-06-05</td>
                                            <td>서경대학교 컴퓨터공학과 재학</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                <div class="panel-body">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="{% static 'images/yongjun.jpg' %}" alt="개발자 이미지">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">&nbsp;이용준</h4>
                                                &nbsp;&nbsp;Deep Square의 팀원입니다.
                                        </div>
                                    </div>
                                </div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>개발자명</th>
                                            <th>생년월일</th>
                                            <th>학력</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>이용준</td>
                                            <td>1997-03-10</td>
                                            <td>서경대학교 컴퓨터공학과 재학</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock content %}