{% extends "app/base_my.html" %}
{% load static %}
{% block content %}
                <br>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        &nbsp;<span class="fas fa-list"></span>
                                        &nbsp;<font size="4">기능 목록</font>
                                    </h3>
                                </div>
                                <br>
                                <p>
                                <div class="panel-body">
                                    <div class="media">
                                        <div class="media-left"> 
                                            <a href="pass.html"><img class="media-object" src="{% static 'images/3.jpg' %}" alt="합격 예측 이미지"></a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="/pass">&nbsp;합격 예측</a></h4>
                                            &nbsp;&nbsp;합격 예측은 작성한 자기소개서가 합격할 확률을 예측합니다.
                                            합격할 확률은 %로 보여줍니다.
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>제목</th>
                                            <th>작성일</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for self_intro in self_intros %}
                                        {% if self_intro.name == username %}
                                        <tr onclick = "location.href = '/pass/detail/{{self_intro.id}}'">
                                        <th>{{self_intro.title}}</th>
                                        <th>{{self_intro.registered_date}}</th>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock content %}
