{% extends "base.html" %}
{% block content %}
        <div class="masthead ">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-xs-10 mx-auto text-center">
                        <h1>자기소개서가 성공적으로 저장되었습니다!</h1>
                        <br><br>
                        <button type = "button" class = "btn btn-xl btn-outline-dark" style="float: center;" onclick = "location.href = '/my_self_intro/'">결과보기</button><br>
                        <button type = "button" class = "btn btn-xl btn-outline-dark" style="float: center;" onclick = "location.href = '/'">HOME</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}